.git
.github
.idea
.vscode

node_modules
**/node_modules
**/dist
**/*.tsbuildinfo

native/build
native/build-*
third_party/fiber-gateway-cpp/temp
third_party/fiber-gateway-cpp/build
third_party/fiber-gateway-cpp/build-*

.env
deploy/demo/certs
*.env
*.log
coverage
temp
